 
 html {
    scroll-behavior: smooth;
}

 
 
 
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    padding: 60px 20px;
}


.about {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: white;
}

.about img {
    width: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.skills, .projects, .resume, .contact {
    padding: 40px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border-radius: 20px;
}

.project-card {
    background-color: #eee;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.resume a {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #764ba2;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
}

.resume a:hover {
    background-color: #667eea;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}


